@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>One Cikan Guncelleme Sayfasi</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="FeatureId"/>
                        <label>One Cikan Baslik Adi</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>One Cikan Ikonu</label>
                        <input type="text" class="form-control" asp-for="Icon" />
                        <br />
                        <button class="btn-primary">One Cikan Alani Guncelleme</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>






