@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Urun Ekleme Sayfasi</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Urun Adi</label>
                        <input type="text" class="form-control" asp-for="ProductName" />
                        <br />
                        <label>Urun Fiyati</label>
                        <input type="text" class="form-control" asp-for="ProductPrice" />
                        <br />
                        <label>Urun Gorseli</label>
                        <input type="text" class="form-control" asp-for="ProductImageUrl" />
                        <br />
                        <label>Urun Kategorisi</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control" })
                        <br />
                        <label>Urun Aciklamasi</label>
                        <textarea class="form-control" asp-for="ProductDescription" rows="5"></textarea>
                        <br />
                        <button class="btn btn-primary">Urun Olustur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
