@model UpdateFeatureSliderDto
@{
    ViewData["Title"] = "CreateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Slider Gorsel Guncelleme Sayfasi</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="FeatureSliderId" />
                        <label>Gorsel Basligi</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Gorsel Aciklama</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <br />
                        <label>Gorsel Linki</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn-primary">Gorsel Guncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



